@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(styles/Montserrat-Regular.ttf);
 }
 @font-face {
    font-family: 'Roboto', sans-serif;
    src: url(styles/Roboto-Regular.ttf);
 }
 