@import url(styles/fonts.css);
header{
   width: 100%;
   background-image:linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/header.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 10vw;
}
br{
    display: none;
}
.menu{
   display: flex;
   justify-content: space-between;
   width: 70%;
   margin: 0 auto;
   &-name{
       color: white;
       font-size: 3vw;
       margin: 4vw 0;
       font-family: 'Montserrat', sans-serif;
       font-weight: bold;
 
   }
   &-enter{
       width: 18%;
       display: flex;
       justify-content: space-between;
       margin: 5vw 0;
      
       &-login{
           color: white;
           font-size: 1.4vw;
           font-weight: lighter;
           padding: 0.4vw;
           font-family: 'Montserrat', sans-serif;
       }
       &-signup{
           padding: 0.3vw;
           color: white;
           font-size: 1.4vw;
           font-weight: lighter;
           border: 0.2vw white solid;
           border-radius: 2vw;
           font-family: 'Montserrat', sans-serif;
       }
   }
}
.rec{
   margin: 5vw auto;
   width: 33%;
   display: flex;
   flex-direction: column;
   align-items: center;
   &-boldtxt{
       color: white;
       font-size: 3vw;
       font-weight: bold;
       text-align: center;
       margin-bottom: 2vw;
       font-family: 'Montserrat', sans-serif;
   }
   &-thintxtx{
       color: white;
       font-size: 1.5vw;
       font-weight: lighter;
       margin-bottom: 2vw;
       font-family: 'Roboto', sans-serif;
   }
   &-button{
       padding: 0.6vw;
       font-size: 1.1vw;
       font-weight: bold;
       background-color: #FF4E50;
       color: white;
       border: none;
       border-radius: 4vw;
       font-family: 'Montserrat', sans-serif;
   }
}
.dreamshare{
   width: 65%;
   margin: 0 auto;
   &-txt{
       margin: 6.25vw 0 2.431vw;
       text-align: center;
       font-size: 1.806vw;
       font-weight: bold;
       color: black;
       font-family: 'Montserrat', sans-serif;
   }
   &-cards{
       display: flex;
       justify-content: space-between;
       &-card1 , &-card2 , &-card3{
           width: 24%;
           display: flex;
           flex-direction: column;
           justify-content: flex-end;
           background-size: cover;
           background-repeat: no-repeat;
           padding: 15.556vw 2.708vw 1.458vw;
       }
       &-card1{
           background-image:linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/card1.png);
           &-step{
               line-height:0.847vw;
               font-size: 0.694vw;
               font-weight: lighter;
               background-color: #FF4E50;
               color: white;
               border: none;
               border-radius: 4vw;
               width: 20%;
               text-align: center;
               font-family: 'Montserrat', sans-serif;
           }
           &-boldtext{
               line-height: 0.972vw;
               font-size: 1.667vw;
               font-weight:bold;
               color: white;
               margin: 1.25vw 0 0.694vw;
               font-family: 'Montserrat', sans-serif;
           }
           &-thintext{
               line-height: 0.972vw;
               font-size: 0.972vw;
               font-weight:lighter;
               color: white;
               font-family: 'Roboto', sans-serif;
           }
       }
       &-card2{
           background-image:linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/card2.png);
           &-step{
               line-height:0.847vw;
               font-size: 0.694vw;
               font-weight: lighter;
               background-color: #FF4E50;
               color: white;
               border: none;
               border-radius: 4vw;
               width: 20%;
               text-align: center;
               font-family: 'Montserrat', sans-serif;
           }
           &-boldtext{
               line-height: 0.972vw;
               font-size: 1.667vw;
               font-weight:bold;
               color: white;
               margin: 1.25vw 0 0.694vw;
               font-family: 'Montserrat', sans-serif;
           }
           &-thintext{
               line-height: 0.972vw;
               font-size: 0.972vw;
               font-weight:lighter;
               color: white;
               font-family: 'Roboto', sans-serif;
           }
        }
       &-card3{     
           background-image:linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/card3.png);
          
           &-step{
               line-height:0.847vw;
               font-size: 0.694vw;
               font-weight: lighter;
               background-color: #FF4E50;
               color: white;
               border: none;
               border-radius: 4vw;
               width: 20%;
               text-align: center;
               font-family: 'Montserrat', sans-serif;
           }
           &-boldtext{
               line-height: 0.972vw;
               font-size: 1.667vw;
               font-weight:bold;
               color: white;
               margin: 1.25vw 0 0.694vw;
               font-family: 'Montserrat', sans-serif;
           }
           &-thintext{
               line-height: 0.972vw;
               font-size: 0.972vw;
               font-weight:lighter;
               color: white;
               font-family: 'Roboto', sans-serif;
           }
       }
   }
}
.meet{
   width: 65%;
   margin: 0 auto;
   &-text{
       margin: 6.25vw 0 2.431vw;
       text-align: center;
       font-size: 1.806vw;
       font-weight: bold;
       color: black;
       font-family: 'Montserrat', sans-serif;
   }
   &-partners{
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-between;
       &-left{
           width: 49%;
           display: flex;
           flex-wrap: nowrap;
           justify-content: space-between;
           &-one , &-two{
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 48%;
               &-avatar{
                   width: 8.333vw;
                   height: 8.333vw;
                   background-size: cover;
                   background-repeat: no-repeat;
               }
               &-name{
                   font-size: 0.972vw;
                   font-weight: bold;
                   line-height: 1.185vw;
                   text-align: center;
                   margin:1.181vw 0 0.833vw;
                   font-family: 'Montserrat', sans-serif;
               }
               &-info{
                   font-size: 0.972vw;
                   font-weight: 300;
                   line-height: 0.972vw;
                   text-align: center;
                   color: #666666;
                   font-family: 'Roboto', sans-serif;
               }
           }
           &-one{
               &-avatar{
                   background-image: url(images/Avatar1.png);
               }
           }
           &-two{
               &-avatar{
               background-image: url(images/Avatar2.png);
               }
           }
       }
       &-right{
           width: 49%;
           display: flex;
           flex-wrap: nowrap;
           justify-content: space-between;
           &-one , &-two{
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 48%;
               &-avatar{
                   width: 8.333vw;
                   height: 8.333vw;
                   background-size: cover;
                   background-repeat: no-repeat;
               }
               &-name{
                   font-family: 'Montserrat', sans-serif;
                   font-size: 0.972vw;
                   font-weight: bold;
                   line-height: 1.185vw;
                   text-align: center;
                   margin:1.181vw 0 0.833vw;
               }
               &-info{
                   font-family: 'Roboto', sans-serif;
                   font-size: 0.972vw;
                   font-weight: 300;
                   line-height: 0.972vw;
                   text-align: center;
                   color: #666666;
               }
           }
           &-one{
               &-avatar{
                   background-image: url(images/Avatar3.png);
               }
           }
           &-two{
               &-avatar{
               background-image: url(images/Avatar4.png);
               }
           }
       }
 
   }
   &-button{
       width: 20%;
       color: #FF4E50;
       border: 0.2vw #FF4E50 solid;
       font-size: 0.972vw;
       line-height: 1.185vw;
       text-align: center;
       margin: 2.5vw auto;
       border-radius: 4vw;
       font-family: 'Montserrat', sans-serif;
   }
}
.ideas{
   width: 65%;
   margin: 0 auto;
   &-text{
       font-family: 'Montserrat', sans-serif;
       margin: 6.25vw 0 2.431vw;
       text-align: center;
       font-size: 1.806vw;
       font-weight: bold;
       color: black;
   }
   &-activity{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       &-up , &-middle , &-down{
           display: flex;
           justify-content: space-between;
       }
       &-up{
           &-sport , &-wellness , &-extreme {
               display: flex;
               align-items: center;
               text-align: center;
               justify-content: center;
               width: 20.833vw;
               height: 21.528vw;
               background-size: contain;
               background-repeat: no-repeat;
               font-size: 1.528vw;
               line-height: 1.863vw;
               color: white;
               font-weight: bold;
               font-family: 'Montserrat', sans-serif;
               
           }
           &-sport{
               background-image: linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/Sport.png);
           }
           &-wellness{
               background-image:linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/Health.png);
           }
           &-extreme{
               background-image:linear-gradient(to top, rgba(8,7,7, 0.3), rgba(15,15,15,0.1)), url(images/Extreme.png);
           }
       }
       &-middle{
           margin: 0.8vw 0;
           &-games {
               display: flex;
               align-items: center;
               text-align: center;
               justify-content: center;
               font-size: 1.528vw;
               line-height: 1.863vw;
               color: white;
               font-weight: bold;
               font-family: 'Montserrat', sans-serif;
               width: 20.833vw;
               height: 21.528vw;
               background-size: contain;
               background-repeat: no-repeat;
               background-image:linear-gradient(to top, rgba(8, 7, 7, 0.3), rgba(15, 15, 15, 0.1%)), url(images/Games.png);
           }
           &-culture {
               display: flex;
               align-items: center;
               text-align: center;
               justify-content: center;
               font-size: 1.528vw;
               line-height: 1.863vw;
               color: white;
               font-weight: bold;
               font-family: 'Montserrat', sans-serif;
               width: 42.55vw;
               height: 21.528vw;
               background-size: contain;
               background-repeat: no-repeat;
               background-image:linear-gradient(to top, rgba(8, 7, 7,0.3), rgba(15,15, 15, 0.1)), url(images/Culture.png);
           }
       }
       &-down{
           &-travelling{
               display: flex;
               align-items: center;
               text-align: center;
               justify-content: center;
               font-size: 1.528vw;
               line-height: 1.863vw;
               color: white;
               font-weight: bold;
               font-family: 'Montserrat', sans-serif;
               width: 20.833vw;
               height: 21.528vw;
               background-size: contain;
               background-repeat: no-repeat;
               background-image:linear-gradient(to top, rgba(8, 7, 7,0.3), rgba(15,15, 15, 0.1)), url(images/Travelling.png);
           }
           &-relaxation{
               display: flex;
               align-items: center;
               text-align: center;
               justify-content: center;
               font-size: 1.528vw;
               line-height: 1.863vw;
               color: white;
               font-weight: bold;
               font-family: 'Montserrat', sans-serif;
               width: 42.55vw;
               height: 21.528vw;
               background-size: contain;
               background-repeat: no-repeat;
               background-image:linear-gradient(to top, rgba(8, 7, 7,0.3), rgba(15,15, 15, 0.1)), url(images/Relaxation.png);
           }
       }
   }
}
.create {
   width: 35%;
   margin: 0 auto;
   &-darktext{
       font-family: 'Montserrat', sans-serif;
       margin: 6.181vw 0 0;
       text-align: center;
       font-size: 1.806vw;
       font-weight: bold;
       color: #444444;
   }
   &-lighttext{
       font-family: 'Roboto', sans-serif;
       text-align: center;
       font-size: 1.250vw;
       font-weight: 300;
       color: #444444;
       margin: 2.986vw 0 1.736vw;
   }
 
   &-form{
       font-family: 'Roboto', sans-serif;
       width: 20.764vw;
       height: 2.778vw;
       border: 0.069vw rgba(153, 153, 153, 1) solid;
       color: rgba(153, 153, 153, 1);
       font-size: 0.972vw;
       line-height: 1.140vw;
   }
   &-search{
       font-family: 'Montserrat', sans-serif;
       width: 11.953vw;
       height: 2.778vw;
       font-size: 1.1vw;
       font-weight: bold;
       background-color: #FF4E50;
       color: white;
       border: none;
       border-radius: 4vw;
 
   }
}
hr{
   margin: 6.944vw 0 2.639vw ;
   border-color: #FF4E50;
   border-width: 0.139vw;
}
.footer{
   width: 65%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   &-redtext{
       font-family: 'Montserrat', sans-serif;
       color: #FF4E50;
       font-size:1.111vw ;
       font-weight: 400;
       line-height: 1.354vw;
   }
   &-list{
       display: flex;
       flex-direction: column;
       &-company{
           font-family: 'Montserrat', sans-serif;
           margin-bottom: 0.764vw;
           color: #444444;
           font-size:0.972vw ;
           font-weight: bold;
           line-height: 1.185vw;
       }
       &-first , &-second{
           font-family: 'Roboto', sans-serif;
           color: #999999;
           font-size:0.972vw ;
           font-weight: 300;
           line-height: 1.806vw;
 
       }
   }
   &-partners{
       font-family: 'Montserrat', sans-serif;
       color: #444444;
       font-size:0.972vw ;
       font-weight: bold;
       line-height: 1.185vw;
   }
   &-logo{
       &-text{
           font-family: 'Montserrat', sans-serif;
           margin-bottom: 0.486vw;
           color: #CCCCCC;
           font-size:0.694vw ;
           font-weight: bold;
           line-height: 0.847vw;
           letter-spacing: 0.069vw;
           text-align: right;
       }
       &-img{
           width: 7.639vw;
           height:1.667vw ;
           background-image: url(images/image.png);
           background-size: contain;
           background-repeat: no-repeat;
       }
   }
}
@media screen and (max-width: 768px) {
   .menu{
       width: 95%;
       &-name{
           font-size: 2.604vw;
       }
       &-enter{
           &-login , &-signup{
               font-size: 2.223vw;
               // 17.07px
           }
       }
   }
   .rec{
       width: 60%;
       &-boldtxt{
           font-size: 6.771vw;
       }
       &-thintxtx{
           font-size: 3.125vw;
           // 24px
       }
       &-button{
           padding: 1.3vw;
           font-size: 2.223vw;
       }
   }
 
   .dreamshare{
       width: 100%;
       &-txt{
           margin: 12.240vw 0 4.557vw;
           font-size: 2.865vw;
           // 22px
       }
       &-cards{
           &-card1 , &-card2 , &-card3{
               width: 26%;
               padding: 27.344vw 2.708vw 2.083vw;
               &-step{
                   font-size: 1.302vw;
                   line-height: 1.587vw;
               }
               &-boldtext{
                   line-height: 1.823vw ;
                   font-size: 3.125vw;
                   margin: 2.344vw 01.302vw;
               }
               &-thintext{
                   line-height: 1.823vw;
                   font-size: 1.823vw;
               }
           }
       }
   }
   .meet{
       width: 70%;
       &-text{
           font-size: 2.865vw;
           line-height: 3.492vw;
           margin: 12.240vw 0 4.557vw;
       }
       &-partners{
           flex-direction: column;
           &-left{
               margin-bottom: 7.031vw;
           }
           &-left , &-right{
               width: 100%;
              
               &-one , &-two{
                   &-avatar{
                       width: 15.625vw ;
                       height: 15.625vw ;
                   }
                   &-name{
                       font-size: 1.823vw;
                       line-height: 2.223vw ;
                   }
                   &-info{
                       font-size: 1.823vw;
                       line-height: 1.823vw;
                   }
               }
           }
       }
       &-button{
           width: 33%;
           font-size: 1.823vw;
           line-height: 2.223vw;
           border: 0.260vw #FF4E50 solid;
           margin: 5.208vw auto;
       }
   }
   .ideas{
       width: 100%;
       &-text{
           font-size: 2.865vw;
           line-height: 3.492vw;
           margin: 12.240vw 0 4.557vw;
       }
       &-activity{
           &-up{
               &-sport , &-wellness , &-extreme {
                   border-radius: 0.521vw;
                   width: 30.729vw;
                   height: 40.365vw;
                   background-size: cover;
                   background-position: center;
                   font-size: 2.865vw;
                   line-height: 3.492vw;
               }
           }
           &-middle{
               margin: 2.604vw 0;
               &-games {
                   border-radius: 0.521vw;
                   font-size: 2.865vw;
                   line-height: 3.492vw;
                   width: 30.729vw;
                   height: 40.365vw;
                   background-size: cover;
                   background-position: center;
               }
               &-culture {
                   border-radius: 0.521vw;
                   font-size: 2.865vw;
                   line-height: 3.492vw;
                   width: 64.063vw;
                   height: 40.365vw;
                   background-size: cover;
                   background-position: center;
               }
           }
           &-down{
               &-travelling{
                   border-radius: 0.521vw;
                   font-size: 2.865vw;
                   line-height: 3.492vw;
                   width: 30.729vw;
                   height: 40.365vw;
                   background-size: cover;
                   background-position: center;
               }
               &-relaxation{
                   border-radius: 0.521vw;
                   font-size: 2.865vw;
                   line-height: 3.492vw;
                   width: 64.063vw;
                   height: 40.365vw;
                   background-size: cover;
                   background-position: center;
               }
           }
       }
   }
   .create {
       width: 70%;
       &-darktext{
           font-size:2.865vw ;
           line-height:3.492vw;
       }
       &-lighttext{
           font-size:2.344vw;
           line-height:1.823vw;
           margin:5.599vw 0 3.255vw ;
       }
       &-form{
           width:38.932vw;
           height:5.208vw;
           font-size:1.823vw;
           line-height:2.137vw;
       }
       &-search{
           width:22.413vw;
           height:5.208vw;
           font-size:1.823vw;
           line-height:2.223vw;           
       }
   }
   .hr{
       margin:13.021vw 0 4.948vw ;
       border-width:0.260vw;
   }
   .footer{
       width: 95%;
       &-redtext{
           font-size:2.083vw;
           line-height:2.539vw;
       }
       &-list{
           &-company{
               font-size:1.823vw;
               line-height:2.223vw;
           }
           &-first , &-second{
               font-size:1.823vw;
               line-height:3.385vw;
           }
       }
       &-partners{
           font-size:1.823vw;
           line-height:2.223vw;
       }
       &-logo{
           &-text{
               font-size:1.302vw;
               line-height:1.587vw;
               letter-spacing:0.130vw;
           }
           &-img{
               width:14.323vw;
               height:3.125vw;
           }
       }
   }
}
@media screen and (max-width: 320px) {
    header{
        background-position: center;
    }
    br{
        display: block;
    }
   .menu{
       flex-direction: column-reverse;
       width: 100%;
       &-name{
           margin: 33.125vw auto 8.281vw;
           font-size: 6.250vw;
           line-height: 7.619vw;
       }
       &-enter{
           margin: 3.438vw auto 0;
           width: 40%;
           &-login , &-signup{
               padding: 1.8vw;
               font-size: 4.375vw;
               line-height: 5.334vw; 
           }
           &-signup{
               border-radius:12.5vw;
           }
       }
   }
   .rec{
       width: 90%;
       &-boldtxt{
           font-size: 9.375vw;
           line-height: 11.428vw;
       }
       &-thintxtx{
           text-align: center;
           font-size: 5.625vw;
           line-height: 7.656vw;
           margin-bottom: 4.688vw;
          
       }
       &-button{
           padding: 2.3vw;
           font-size: 4.375vw;
           line-height: 5.334vw;
       }
   }
 
   .dreamshare{
       width: 100%;
      
       &-txt{
           margin: 7.5vw 0 4.688vw ;
           font-size: 6.875vw;
           line-height: 8.381vw;
           // 22px
       }
       &-cards{
           flex-direction: column;
           &-card1 , &-card2 , &-card3{
               width: 93.750vw;
               height: 75vw;
               padding: 0;
               margin-bottom: 3.125vw;
               &-step{
                   margin-left: 6.250vw;
                   font-size: 3.125vw;
                   line-height: 3.809vw;
                   padding: 0.8vw;
               }
               &-boldtext{
                   line-height: 7.500vw ;
                   font-size: 4.375vw;
                   margin: 12.5vw 0 3.125vw 6.250vw;                   
               }
               &-thintext{
                   margin:0 9.375vw 5vw 6.250vw;
                   line-height: 4.375vw;
                   font-size: 4.375vw;
               }
           }
       }
   }
   .meet{
       width: 100%;
       &-text{
           font-size: 6.875vw;
           line-height: 8.381vw;
           margin: 8.125vw 0 4.375vw;
       }
       &-partners{
           flex-direction: column;
           &-left{
               margin-bottom: 0;
           }
           &-left , &-right{
               flex-direction: column;
               width: 100%;
               align-items: center;
               &-one , &-two{
                   &-avatar{
                       width: 37.500vw ;
                       height: 37.500vw ;
                   }
                   &-name{
                       font-size: 4.375vw;
                       line-height: 5.334vw ;
                       margin: 5.313vw 0 3.750vw;
                   }
                   &-info{
                       font-size: 4.375vw;
                       line-height: 4.375vw;
                       margin-bottom: 5vw;
                   }
               }
           }
       }
       &-button{
           width: 87.500vw;
           font-size: 4.375vw;
           line-height: 5.334vw ;
           border: 0.625vw #FF4E50 solid;
           margin: 6.250vw auto 10.938vw;
       }
   }
   .ideas{
       width: 100%;
       &-text{
           font-size: 6.875vw;
           line-height: 8.381vw;
           margin-bottom: 10.313vw;
       }
       &-activity{
           &-up , &-middle , &-down{
               flex-direction: column;
           }
           &-up{
               &-sport , &-wellness , &-extreme {
                   border-radius: 1.250vw;
                   width: 93.750vw;
                   height: 37.500vw;
                   margin-bottom: 3.125vw;
                   font-size: 6.875vw;
                   line-height: 8.381vw;
               }
           }
           &-middle{
               &-games , &-culture{
                    font-size: 6.875vw;
                    line-height: 8.381vw;
                    border-radius: 1.250vw;
                    width: 93.750vw;
                    height: 37.500vw;
                    margin-bottom: 3.125vw;
               }

           }
           &-down{
               &-travelling , &-relaxation{
                font-size: 6.875vw;
                line-height: 8.381vw;
                border-radius: 1.250vw;
                width: 93.750vw;
                height: 37.500vw;
                margin-bottom: 3.125vw;
                    }
               }
           }
       }
   
   .create{
       width: 87.500vw;
       &-darktext{
           font-size:6.875vw ;
           line-height:8.381vw;
           width: 66.250vw;
           margin: 10.938vw auto 2.813vw;
       }
       &-lighttext{
            font-size:5.625vw;
            line-height:4.375vw;
            margin:2.813vw auto 4.688vw ;
       }
       &-form{
            width:82.813vw;
            height:12.500vw;
            font-size:4.375vw;
            line-height:5.128vw;
            margin: 0  auto 3.125vw;
            padding-left: 4.688vw;
       }
       &-search{
           border-radius: 12.5vw;
            width:87.5vw;
            height:12.500vw;
            font-size:4.375vw;
            line-height:5.334vw; 
            margin-bottom: 3.125vw;          
       }
   }
   .hr{
       margin:13.021vw 0 4.948vw ;
       border-width:0.260vw;
   }
   .footer{
       width: 95%;
       flex-direction: column;
       br{
        display: none;
        }
       &-redtext{
           margin: 0 auto 4.063vw;
           font-size:5vw;
           line-height:6.094vw;
       }
       &-list{
           &-company{
                margin: 0 auto 2.188vw;
               font-size:4.375vw;
               line-height:5.334vw;
           }
           &-first , &-second{
                margin: 0 auto;
                font-size:4.375vw;
                line-height:8.125vw;
           }
       }
       &-partners{
            margin: 0 auto 4.375vw;
            font-size:4.375vw;
            line-height:5.334vw;
       }
       &-logo{
           &-text{
                margin-bottom: 2.188vw;
                font-size:3.125vw;
                line-height:3.809vw;
                letter-spacing:0.313vw;
                text-align: center;
           }
           &-img{
                margin: 0 auto;
                width:34.375vw;
                height:7.500vw;
           }
       }
   }
}
